{% extends 'base.html' %}
{% block head %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'video_detail.css' %}">
<script type="text/javascript">
    var setFilteredResultItems = function (items) {
        var container = $("#filtered-container");
        if (items.length == 0) {
            container.attr("style", "display: none");
        } else {
            container.attr("style", "display: block");
        }
        var tbbody = $("#filtered-table-body");
        tbbody.empty();
        for (i = 0; i < items.length; i++) {
            var item = items[i];
            tbbody.append(`<tr class="clickable-row" data-id=${item.id}><td>${item.created_at}</td><td>${item.status}</td></tr>`);
        }
    };

    var setDetectedScenes = function (items) {
        var tbbody = $("#scene-table-body");
        var modalbody = $("#sceneIdSelectorBody");
        tbbody.empty();
        for (i = 0; i < items.length; i++) {
            var item = items[i];
            tbbody.append(`<tr class="clickable-row" data-id=${item.id}><td>${item.start_millis / 1000} - ${item.end_millis / 1000}</td><td>${item.cause}</td></tr>`)
            modalbody.append(`<div class="custom-control custom-checkbox scene-selector-item"><input type="checkbox" class="custom-control-input" id=${item.id}><label class="custom-control-label" for=${item.id}>${item.start_millis / 1000} - ${item.end_millis / 1000} : ${item.cause}</label></div>`)
        }
        $("#scene-table-body .clickable-row").click(function(e) {
            var targetItem = items.find(item => item.id == $(e.currentTarget).attr("data-id"));
            if (targetItem) {
                var videoTag = document.getElementById('video');
                videoTag.currentTime = targetItem.start_millis / 1000;
                videoTag.play();
            }
        });
    };

    var refresh = function () {
        $.get("/api/videos/{{video_id}}", function (data) {
            var video = data.video;
            var detectedScenes = data.detected_scenes;
            var filteredResults = data.filtered_results;
            if (!$("#video").attr("src") && video.url) {
                $("#video").attr("src", video.url);
            }
            setDetectedScenes(detectedScenes);
            setFilteredResultItems(filteredResults);

            if (video.status == "UPLOADING") {
                $("#video").attr("style", "visibility:hidden");
                $("#video-uploading").attr("style", "display: block");
            } else {
                $("#video").attr("style", "visibility:visible");
                $("#video-uploading").attr("style", "display: none");
            }
            if (video.status == "UPLOADED" || video.status == "DETECTING") {
                $("#scene-detecting").attr("style", "display: block");
            } else {
                $("#scene-detecting").attr("style", "display: none");
            }
            if (video.status == "FAILED" || video.status == "DETECTED") {
                clearInterval(refreshInterval);
            }
        });
    }
    var refreshInterval = setInterval(function () {
        refresh();
    }, 5000);

    $(document).ready(function () {
        refresh();
        $("#btn-back").click(function () {
            window.location = "/videos";
        });

        $("#btn-delete").click(function () {
            $.ajax({
                url: "/api/videos/{{video_id}}",
                type: "DELETE",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}")
                },
                success: function (result) {
                    window.location = "/videos";
                }
            })
        });

        $("#make-blur").click(function () {
            var checkedList = new Array();
            $(".scene-selector-item input").each(function (idx, e) {
                var checkbox = $(e);
                if ($(e).is(":checked")) {
                    checkedList.push(Number(checkbox.attr("id")));
                }
            });

            $.post({
                url: "/api/videos/{{video_id}}/",
                dataType: "json",
                traditional: true,
                data: { scene_ids: checkedList, removal: false },
                headers: {
                    "X-CSRFToken": "{{ csrf_token }}"
                },
                success: function (result) {
                    window.location = "/videos/{{video_id}}/filter/" + result.id;
                }
            })
        });

        $("#make-remove").click(function () {
            var checkedList = [];
            var checkedList = new Array();
            $(".scene-selector-item input").each(function (idx, e) {
                var checkbox = $(e);
                if ($(e).is(":checked")) {
                    checkedList.push(Number(checkbox.attr("id")));
                }
            });
            $.post({
                url: "/api/videos/{{video_id}}/",
                dataType: "json",
                traditional: true,
                data: { scene_ids: checkedList, removal: true },
                headers: {
                    "X-CSRFToken": "{{ csrf_token }}"
                },
                success: function (result) {
                    window.location = "/videos/{{video_id}}/filter/" + result.id;
                }
            })
        });
    });
</script>
{% endblock %}
{% block content %}
<div class="container">
    <div id="menu-container">
        <div id="button-groups">
            <button id="btn-back" class="btn btn-primary">Back</button>
            <button id="btn-delete" class="btn btn-danger">Delete</button>
            <button id="btn-download" class="btn btn-success" data-toggle="modal"
                data-target="#sceneIdSelector">Download</button>
        </div>
    </div>
    <div id="video-container">
        <div id="video-preview">
            <div id="video-uploading">동영상 업로드 중입니다.</div>
            <video id="video" src="{{ video.url }}" autobuffer controls></video>
        </div>
    </div>
    <div id="filtered-container">
        <table class="table table-hover">
            <thead>
                <th scope="col">Created At</th>
                <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody id="filtered-table-body">
            </tbody>
        </table>
    </div>
    <div id="scene-container">
        <div id=scene-detecting>선정적인 장면을 탐색 중입니다.</div>
        <table class="table table-hover">
            <thead>
                <th scope="col">Section(Second)</th>
                <th scope="col">Cause</th>
                </tr>
            </thead>
            <tbody id="scene-table-body">
            </tbody>
        </table>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="sceneIdSelector" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="sceneIdSelectorTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="sceneIdSelectorBody">
            </div>
            <div class="modal-footer">
                <button id="make-blur" type="button" class="btn btn-secondary">Make Blurred Video</button>
                <button id="make-remove" type="button" class="btn btn-secondary">Make Removed Video</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}