#menu-container {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

@media (max-width: 840px) {
    #button-groups {
        width: 80%;
        margin: auto;
    }
}

@media (min-width: 840px) {
    #button-groups {
        width: 840px;
        margin: auto;
    }
}

#btn-download {
    float: right;
    margin-right: 10px;
}

#btn-delete {
    float: right;
}

#video-preview {
    width: 100%;
    text-align: center;
    position: relative;
}

#video-uploading {
    position: absolute;
    top:50%;
    left:0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 840px) {
    #video {
        width: 80%;
    }
}

@media (min-width: 840px) {
    #video {
        width: 840px;
    }
}

#filtered-container {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 10px;
    position: relative;
    text-align: center;
}

@media (max-width: 840px) {
    #filtered-container table {
        text-align: left;
        width: 80%;
        margin: auto;
    }
}

@media (min-width: 840px) {
    #filtered-container table {
        text-align: left;
        width: 840px;
        margin: auto;
    }
}

#scene-container {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 10px;
    position: relative;
    text-align: center;
}

#scene-detecting {
    position: absolute;
    top: 200%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 840px) {
    #scene-container table {
        text-align: left;
        width: 80%;
        margin: auto;
    }
}

@media (min-width: 840px) {
    #scene-container table {
        text-align: left;
        width: 840px;
        margin: auto;
    }
}

.clickable-row:hover {
    cursor: pointer;
}
